@import url("https://fonts.googleapis.com/css2?family=Lato&family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
/* h1,h2,h3,h4,h5,h6{
  letter-spacing: .01rem;
  font-family: 'Teko', sans-serif;
  font-weight: 400;
}

h1{
  font-size: 4.5rem;
} */

p {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
}

button {
  font-family: "Teko", sans-serif;
  letter-spacing: 0.01rem;
}

tr:nth-child(odd) {
  background-color: rgba(163, 88, 51, 0.247);
}

table {
  border-spacing: 0;
  margin-top: 10px;
  border: 1px solid rgba(163, 88, 51, 0.247);
  border-radius: 5px;
}
